<footer>
    <nav>
      <a href="https://charlotte.edu">Charlotte.edu</a> |
      <a href="https://github.com">Github</a> |
      <a href="https://pages.github.com">Github.io</a> |
      <a href="https://www.freecodecamp.org">FreeCodeCamp</a> |
      <a href="https://www.codecademy.com">Codecademy</a> |
      <a href="https://www.linkedin.com">LinkedIn</a>
    </nav>

    <p>Page created by <a href="stantonfranchise.co/">Stanton Franchise</a></p>
    <a href="https://validator.w3.org/check?uri=https://webpages.charlotte.edu/bstanto1/itis3135/">
                <img src="images/html_validation.png" alt="HTML Validation Result">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https://webpages.charlotte.edu/bstanto1/itis3135/">
                <img src="images/vcss.png" alt="vcss">
    </a>
  </footer>