<footer>
  <nav>
    <a href="https://webpages.charlotte.edu/bstanto1">Charlotte.edu</a> |
    <a href="https://github.com/sheastanton">Github</a> |
    <a href="https://sheastanton.github.io">Github.io</a> |
    <a href="https://www.freecodecamp.org/sheastanton">FreeCodeCamp</a> |
    <a href="https://www.codecademy.com/profiles/sheastanton">Codecademy</a> |
    <a href="https://www.linkedin.com/">LinkedIn</a>
  </nav>

  <p>Page created by <a href="stantonfranchise.co/index.html">Stanton Franchise</a></p>
    
  <p>
    <a href="https://validator.w3.org/check?uri=referer" target="_blank">
      Validate HTML
    </a>

      |

    <a href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank">
      Validate CSS
    </a>

  </p>

  <script>
    document.getElementById("validation_link_html").setAttribute("href","https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href","https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script>
</footer>