<footer>
  <nav class="footer-nav">
    <a href="https://webpages.charlotte.edu/bstanto1" target="_blank" rel="noopener noreferrer">CLT Web</a>
    <a href="https://sheastanton.github.io" target="_blank" rel="noopener noreferrer">GitHub.io</a>
    <a href="https://github.com/sheastanton" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="https://www.freecodecamp.org/sheastanton" target="_blank" rel="noopener noreferrer">freeCodeCamp</a>
    <a href="https://www.codecademy.com/profiles/sheastanton" target="_blank" rel="noopener noreferrer">Codecademy</a>
    <a href="https://www.linkedin.com/in/sheastanton" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </nav>

  <p class="created-by">Page created by <a href="stantonfranchise.co/index.html">Stanton Franchise</a></p>

  <p class="created-by">Certified in <a href="https://www.freecodecamp.org/certification/sheastanton/responsive-web-design-v9">Responsive Web Design</a></p>

  <p class="validation-links">
    <a id="validation-link-html" href="https://validator.w3.org/check?uri=referer" target="_blank" rel="noopener noreferrer">Validate HTML</a>
    |
    <a id="validation-link-css" href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank" rel="noopener noreferrer">Validate CSS</a>
  </p>

  <script>
    document.getElementById("validation-link-html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation-link-css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script>
</footer>