<header>
    <h1>ITIS3135 | Shea Stanton's | Swift Shark</h1>

    <nav>
      <a href="/itis3135/index.html">Home</a> |
      <a href="/itis3135/contract.html">Contract</a> |
      <a href="/itis3135/introduction.html">Introduction</a> |
      <a href="/itis3135/about.html">About</a> |
      <a href="/itis3135/survey.html">Survey</a> |
      <a href="/itis3135/gallery.html">Gallery</a> |
      <a href="/itis3135/inventory.html">Inventory</a> |
      <a href="/itis3135/instructions.html">Instructions</a> |
      <a href="/itis3135/highlight.html">Highlight</a>
    </nav>

    <nav class="secondary-nav">
        <a href="/itis3135/stuff/saNDwiChMuSEum!6.HTM">Crappy Page</a> |
    </nav>
  </header>